/* Bug severity bullets */
.table-xs > :not(caption) > * > * {
    padding: .125rem;
}
ul.bug-list {
    padding-left: 1rem;
}

ul.bug-list li {
    padding-left: .4rem;
}

ul.bug-list li::marker {
    font-size: 70%;
}

ul.bug-list li.status-blocker {
    list-style-type: "\1F534";
}
ul.bug-list li.status-critical {
    list-style-type: "\1F7E0";
}
ul.bug-list li.status-major {
    list-style-type: "\1F7E1";
}
ul.bug-list li.status-normal {
    list-style-type: "\1F7E2";
}
ul.bug-list li.status-minor {
    list-style-type: "\1F535";
}
ul.bug-list li.status-trivial {
    list-style-type: "\1F7E3";
}
ul.bug-list li.status-enhancement {
    list-style-type: "\2B50";
}
ul.bug-list li.status-new-feature {
    list-style-type: "\1F31F";
}

h6.status-blocker:before {
    content: "\1F534";
    display: inline-block;
    transform: scale(.5);
}
h6.status-critical:before {
    content: "\1F7E0";
    display: inline-block;
    transform: scale(.5);
}
h6.status-major:before {
    content: "\1F7E1";
    display: inline-block;
    transform: scale(.5);
}
h6.status-normal:before {
    content: "\1F7E2";
    display: inline-block;
    transform: scale(.5);
}
h6.status-minor:before {
    content: "\1F535";
    display: inline-block;
    transform: scale(.5);
}
h6.status-trivial:before {
    content: "\1F7E3";
    display: inline-block;
    transform: scale(.5);
}
h6.status-enhancement:before {
    content: "\2B50";
    display: inline-block;
    transform: scale(.5);
}
h6.status-new-feature:before {
    content: "\1F31F";
    display: inline-block;
    transform: scale(.5);
}

.popover-body ul {
    margin-bottom: 0;
}

h1.display-2 {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis if needed */
}
